<div class="container" ng-controller="login">
    <form class="form-signin login_d">
        <h1 class="form-signin-heading text-muted">Acceso</h1>
        <input
            type="text"
            class="form-control"
            placeholder="Usuario"
            required=""
            autofocus=""
            ng-model="parametros.usuario"
            id="usuario">
        <br>
        <input
            type="password"
            class="form-control"
            placeholder="Contraseña"
            required=""
            ng-model="parametros.pass"
            id="pass">
        <div class="alert alert-dismissible alert-warning" ng-show="errores">
            <p>{{errores}}</p>
            <p>
                <a
                    href="JavaScript:void(0);"
                    class="alert-link"
                    ng-show="en_sesion"
                    ng-click="cerrar_sesion_remota()"
                    id="cerrar_sesion_remota">
                        Cerrar Sesión Remota
                </a>
            </p>
        </div>
        <button
            class="btn btn-lg btn-primary btn-block"
            type="submit"
            ng-click="acceder()"
            id="login">
                Ingresa
        </button>
        <br>
    </form>
</div>
