.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #4166F5;
    /* background-image: url('https://s3.us-east-2.amazonaws.com/pwstplataforma/imagenes_login/' + '01' + '.jpg' ), radial-gradient(circle, #abc7f8, #8096c1, #57688c, #303e5b, #0c182e); */
    background-repeat: repeat;
    z-index: -100;
}
